#comment_form_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal"
          span aria-hidden="true" &times;
          span.sr-only Close
        h4.modal-title= t(:new_comment)
      .modal-body
        = render partial: 'comments/create_form', locals: { post: post, comment: comment }
