= bootstrap_form_for comment, url: post_comments_path(post, comment), remote: true do |f|
  = f.text_area :content, hide_label: true, placeholder: 'Leave a comment...'
  = f.hidden_field :user_id, value: current_user.id
  = f.form_group class: 'text-right' do
    = f.primary t(:create)
