.commented_by
  .vote-box.pull-left data-id=comment.id
    = render partial: 'votes/vote_box', locals: { votable: comment }
  a.avatar.pull-left href="#"
    = avatar_image comment.user_image
  h2.username.pull-left= comment.user_name
  - comment.user.omniauths.each do |omniauth|
    a.user-link.pull-left href=omniauth.url target="_blank"
      = "@#{omniauth.provider.camelize}"
  span.comment-time.pull-left
    =' t(:comment_at)
    = timeago(comment.created_at)
  -if comment.editable_by? current_user
    .acts.pull-left
      =' link_button fa_icon('edit fw'), url: edit_comment_path(comment), color: 'danger', size: 'xs', remote: true
      = link_button fa_icon('trash fw'), url: comment_path(comment), method: 'delete', data: {confirm: t(:are_you_sure)}, color: 'danger', size: 'xs', remote: true
.content= comment.content
