$('#comment_form_modal').modal('hide');
$('#comment_form_modal .modal-body').html("<%= escape_javascript(render 'create_form', post: @post, comment: Comment.new) %>");
$('.comments .counts > span').html('<%= counts %>');
$('.comments .list').append("<%= escape_javascript(render 'item', comment: @comment) %>");
$('abbr.timeago').timeago();