.user-profile
  .container
    .user-avatar.pull-left
      a.avatar href=user_profile_path(@user)
        = avatar_image user.image
    .user-info.pull-left
      h1.title
        =' user.name
        small= "##{user.id}"
      h2.intro
        = user.intro
      .link
        - user.omniauths.each do |omniauth|
          a' href=omniauth.url target="_blank"
            = "@#{omniauth.provider.camelize}"
    .clearfix
    nav.navigation role="navigation"
      ul.nav.nav-tabs
        li.active role="presentation"
          a href="#" Upvoted
        li role="presentation"
          a href=user_made_path(user) Made
        li role="presentation"
          a href="#" Followers
        li role="presentation"
          a href="#" Following
