.container
  .page-header
    h3
      = t :my_setting
  = bootstrap_form_for @user, url: user_setting_path, html: { method: :put }, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-4' do |f|
    = f.static_control :email
    = f.text_field :intro, placeholder: 'My Introduction', control_col: 'col-sm-6'
    = f.form_group do
      =' f.primary t(:update)
      = link_to t(:cancel), user_profile_path(current_user), class: 'btn btn-default'
