.row
  .col-md-12
    - unless post.tag_list.empty?
      .tag_list.pull-right
        =' fa_icon 'tags fw'
        = raw post.tag_list.map { |t| link_to t, tag_path(t), target: '_blank' }.join(', ')
    - if post.category
      .category.pull-right
        =' fa_icon 'bookmark fw'
        = link_to post.category.name, category_path(post.category.name), target: '_blank'
