= bootstrap_form_for post, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-4' do |f|
  = f.text_field :title, placeholder: 'Production Title', autofocus: true
  = f.url_field :url, placeholder: 'Production Url'
  = f.text_field :intro, placeholder: 'Production Introduction', control_col: 'col-sm-6'
  = f.collection_select :category_id, Category.all, :id, :name, prompt: true
  = f.text_field :tag_list, help: t("help.post.tag_list")
  = f.form_group do
    =' f.primary t(:submit)
    = link_to t(:cancel), user_made_path(current_user), class: 'btn btn-default'
