.container
  ul.posts-list.list-unstyled.votable
    - posts.each do |post|
      li.post data-url=post_path(post)
        .row
          .col-md-9
            .vote-box.pull-left data-id=post.id
              = render partial: 'votes/vote_box', locals: { votable: post }
            .detail.pull-left
              a.title href=post.url target="_blank"
                = post.title
              p.intro = post.intro
          .col-md-3
            .options
              - if params[:controller] == 'posts' && post.editable_by?(current_user)
                .acts.pull-right
                  =' link_button fa_icon('edit fw'), url: edit_post_path(post), color: 'danger'
                  = link_button fa_icon('trash fw'), url: post_path(post), method: 'delete', data: {confirm: t(:are_you_sure)}, color: 'danger'
              a.comments.pull-right href=post_path(post)
                =' fa_icon 'comments-o'
                = post.comments.count
              a.avatar.pull-right href=user_profile_path(post.user)
                = avatar_image post.user_image
        = render partial: 'posts/category_and_tags', locals: { post: post }
