.post-show
  .container
    .posted-by
      a.avatar.pull-left href=user_profile_path(@post.user)
        = avatar_image @post.user_image
      span.post-time.pull-left
        = '由 ' + @post.user_name + ' 發表於 '
        = timeago @post.created_at
    .detail
      a.title href=@post.url target="_blank"
        = @post.title
      p.intro = @post.intro
    = render partial: 'posts/category_and_tags', locals: { post: @post }
    .comments.votable
      .counts
        = raw t(:comments_count, count: @post.comments.count)
        - if current_user
          = button t(:new_comment), color: 'primary', size: 'xs', 'data-toggle' => 'modal', 'data-target' => '#comment_form_modal'
          = render partial: 'comments/create_form_modal', :locals => { post: @post, comment: @comment}
      .list
        - @post.comments.each do |comment|
          = render partial: 'comments/item', locals: { comment: comment }
