$text-color:        #573729;
$small-text-color:  #9C8C77;
$link-color:        #9C8C77;
$link-hover-color:  #573729;
$post-bg-color:     #f8f8f8;

body {
  color: $text-color;
}
a {
  color: $link-color;
}
a:hover, a:focus {
  color: $link-hover-color;
}
label.required:after {
  color: red;
  content:" *";
}

.avatar {
  display: block;
  text-decoration: none !important;
  padding: 10px 15px !important;
  img {
    @include border-radius(50%);
    height: 30px;
    width: 30px;
  }
}

nav.navbar {
  .navbar-header {
    .navbar-brand {
      h1, h2 {
        margin: 0;
        display: inline;
      }
      h1 {
        font-size: 100%;
        color: $text-color;
      }
      h2 {
        font-size: 50%;
        color: $small-text-color;
      }
    }
  }
  
  .navbar-menu {
    .navbar-nav {
      a {
        color: $link-color;
        &:hover, &:focus {
          color: $link-hover-color;
        }
      }
    }
  }
}

.modal {
  .modal-title {
    color: $text-color;
  }
  .modal-body {
    p {
      color: $small-text-color;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .modal-footer {
    a.btn {
      color: white !important;
    }
  }
}

.page-header {
  &:first-child {
    margin-top: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  small {
    color: $small-text-color;
  }
  @media (max-width: 767px) {
    small {
      margin-top: 10px;
      display: block;
    }
  }
}

.posts-list {
  .post {
    @extend .clearfix;
    padding: 5px 15px;
    margin-bottom: 5px;
    transition: background, .2s;
    &:hover {
      background-color: $post-bg-color;
      cursor: pointer;
      @include border-radius(5px);
      @include box-shadow(rgba(0,0,0,0.6) 0 0 1px);
    }
    .upvote {
      @include border-radius(3px);
      width: 30px;
      height: 42px;
      text-align: center;
      cursor: pointer;
      background: #EDECEB;
      margin: 4px 0;
      box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
      text-decoration: none;
      .symbol {
        display: inline-block;
        margin-top: 6px;
        border-bottom: 12px solid #534540;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
      &:hover {
        .symbol {
          border-bottom-color: #da552f;
        }
      }
      .count {
        display: block;
        font-size: 12px;
      }
      &.voted {
        .symbol {
          border-bottom-color: #da552f;
        }
        .count {
          color: #da552f;
        }
      }
    }
    .detail {
      margin-left: 15px;
      p {
        margin: 0;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        color: $text-color;
      }
      .intro {
        margin-top: 1px;
        font-size: 15px;
        color: $small-text-color;
      }
    }
    .options {
      .user-avatar-holder {
        .avatar {
        }
        .user-info {
          font-size: 300%;
          .avatar {
            img {
              width: 100px !important;
              height: 100px;
            }
          }
        }
      }
      .comments {
        text-decoration: none;
        display: block;
        padding: 14px 0;
        i {
          font-size: 20px;
        }
      }
      .acts {
        margin: 7px 0 0 20px;
      }
    }
    .tag_list {
      margin-left: 30px;
    }
  }
}

.user-profile {
  @extend .clearfix;
  background-color: $text-color;
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 20px 0 0 0;
  .user-avatar {
    .avatar {
      padding: 0 !important;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .user-info {
    margin-left: 20px;
    color: white;
    .title {
      margin: 0;
      font-size: 200%;
      small {
        color: $small-text-color;
      }
    }
    .intro {
      margin: 7px 0 0 0;
      font-size: 150%;
      color: $small-text-color;
      height: 23px;
    }
    .link {
      margin-top: 10px;
      font-size: 150%;
      a:hover, a:focus {
        color: white;
        text-decoration: none;
      }
    }
  }
  .navigation {
    margin-top: 20px;
    display: table;
    table-layout: fixed;
    width: 100%;
    ul {
      display: table-row;
      li {
        width: 100%;
        float: none;
        padding: 0;
        display: table-cell;
        a {
          text-align: center;
          @include border-radius(0);
          margin-right: 0;
          border: none;
          background-color: $small-text-color;
          color: #ddd;
          &:hover {
            border: none;
            color: white;
            background-color: #A69885;
          }
        }
        &.active {
          a {
            color: $text-color;
            background-color: white;
          }
        }
      }
    }
  }
}

.post-show {
  .posted-by {
    @extend .clearfix;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .avatar {
      padding-left: 0 !important;
    }
    .post-time {
      padding: 15px 0;
      span {
        cursor: help;
        color: #3071a9;
      }
    }
  }
  .detail {
    @extend .clearfix;
    .title {
      font-size: 250%;
    }
    .intro {
      font-size: 150%;
    }
  }
  .comments {
    margin-top: 20px;
    .counts {
      padding-bottom: 10px;
      button {
        margin-left: 10px;
      }
    }
    .list {
      .comment {
        border-top: 1px solid #e7e7e7;
        &:hover {
          background-color: $post-bg-color;
        }
        .commented_by {
          @extend .clearfix;
          margin: 5px 10px;
          .upvote {
            @include border-radius(3px);
            width: 30px;
            height: 42px;
            text-align: center;
            cursor: pointer;
            background: #EDECEB;
            margin: 4px 0;
            box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
            text-decoration: none;
            .symbol {
              display: inline-block;
              margin-top: 6px;
              border-bottom: 12px solid #534540;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
            &:hover {
              .symbol {
                border-bottom-color: #da552f;
              }
            }
            .count {
              display: block;
              font-size: 12px;
            }
            &.voted {
              .symbol {
                border-bottom-color: #da552f;
              }
              .count {
                color: #da552f;
              }
            }
          }
          .avatar {
            margin: 11px 0 0 10px;
            padding: 0 !important;
          }
          .username {
            font-size: 17px;
            margin: 16px 0 0 10px;
          }
          .user-link {
            margin: 16px 0 0 10px;
          }
          .comment-time {
            margin: 19px 0 0 10px;
            font-size: 70%;
            color: #aaa;
          }
          .acts {
            margin: 14px 0 0 10px;
          }
        }
        .content {
          padding: 0 0 10px 10px;
        }
        .edit_comment {
          padding: 15px;
          .form-group:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}