- if current_user && current_user.voted_up_on?(votable)
  .upvote.voted data-url=downvote_path(votable.class.name.downcase, votable.id)
    .symbol
    .count
      span= votable.get_upvotes.size
- else
  .upvote data-url=upvote_path(votable.class.name.downcase, votable.id)
    .symbol
    .count
      span= votable.get_upvotes.size
