nav.navbar.navbar-default role="navigation"
  .container
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target="navbar-menu"
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path
        h1' Listed
        h2= t :tagline
    .navbar-menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          li
            a href="#" data-toggle="modal" data-target="#sign_in_modal"
              =' fa_icon 'comment-o fw'
              = t :share
            = render partial: 'layouts/navbar/sign_in_modal'
          li
            a href=new_registration_path(:user)
              =' fa_icon 'users fw'
              = t :sign_up
        - else
          li
            a href=new_post_path
              =' fa_icon 'comment-o fw'
              = t :share
        = render partial: 'layouts/navbar/user'
