#sign_in_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close  type: 'button', :'data-dismiss' => 'modal'  
          span  :'aria-hidden' => 'true'   &times;
          span.sr-only Close
        h4.modal-title Listed
      .modal-body
        p= t :sign_in_modal_body
      .modal-footer
        .text-center
          a.btn.btn-primary  href: omniauth_authorize_path(:user, :facebook)  
            = fa_icon 'facebook-square fw'
            = t :sign_in_with, provider: 'Facebook'
          a.btn.btn-info  href: omniauth_authorize_path(:user, :github)  
            = fa_icon 'github fw'
            = t :sign_in_with, provider: 'GitHub'
