li.dropdown
  - unless user_signed_in?
    a.dropdown-toggle href="#" data-toggle="dropdown"
      =' fa_icon 'sign-in fw'
      = t 'sign_in'
      b.caret
    ul.dropdown-menu
      li
        a href=new_session_path(:user)
          =' fa_icon 'user fw'
          = t :sign_in_with_account
      li
        a href=omniauth_authorize_path(:user, :facebook)
          =' fa_icon 'facebook-square fw'
          = t :sign_in_with, provider: 'Facebook'
      li
        a href=omniauth_authorize_path(:user, :github)
          =' fa_icon 'github fw'
          = t :sign_in_with, provider: 'GitHub'
  - else
    a.dropdown-toggle.avatar href="#" data-toggle="dropdown"
      =' avatar_image current_user.image
      b.caret
    ul.dropdown-menu
      li
        a.item href=user_profile_path(current_user)
          =' fa_icon 'user fw'
          = t :my_profile
      li
        a.item href=user_setting_path(current_user)
          =' fa_icon 'edit fw'
          = t :my_setting
      li
        a.item href=user_change_password_path(current_user)
          =' fa_icon 'key fw'
          = t :change_password
      li.divider
      li
        a.item href=destroy_session_path(:user) data-method="delete"
          =' fa_icon 'sign-out fw'
          = t :sign_out
