doctype 5
html lang="zh_TW"
  head
    title Listed
    meta charset="utf-8"
    meta  name="description" content="A list for my collection of startup products, news, and etc."
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    - # favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render partial: 'layouts/navbar/navbar'
    == yield
